html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    text-align: center;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.3rem;
}

h3 {
    font-size: 2rem;
}

h4{
    font-size: 1.3rem;
}

p {
    font-size: 22px;
    color: rgb(0, 0, 0);
}

p1 {
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
}

body {
    margin: 0;
    background-color: #414b3b;
}

.topnav {
    overflow: hidden;
    background-color:  #414b3b;
    color: rgb(3, 3, 3);
    font-size: 1rem;
    padding: 0px;
    margin: 10px;
    background-color: #fff9f3;
    border-radius: 10px;
}

.logo {
    margin: 0px;
    border-radius: 10px;
 
}

#authentication-bar{
    background-color: #414b3b;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 10px;
    border-radius: 10px;
    
}

#authentication-status{
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

#user-details{
    color: rgb(151, 151, 151);
    font-size: 20px;
    padding: 0px;
    margin: 0px;

}

#logout-link {
    width: 100%;
    font-size: 30px;
    color:#000000;

  
}

.content {
    padding: 0px;
}


.card {
    background-color: #fff9f3;
    box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
    padding: 5%;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}
.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.lock-icon {
    position: absolute;
    padding: 2%;
    top: 10px;
    right: 10px;
    font-size: 1.7rem;
    color: #e8b600;
    cursor: pointer;
}
.temp-slider[disabled] {
    opacity: 0.5;
    pointer-events: none;
}
.temp-slider {
    width: 100%;
    margin: 20px 0;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: #333;
    outline: none;
}
.temp-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #0ff;
    border: 2px solid #1b1b1b;
    cursor: pointer;
}
.temp-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: rgb(43, 255, 0);
    border: 2px solid #1b1b1b;
    cursor: pointer;
}

button {
    background-color: #049faa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
    opacity: 0.8;
}

.form-elements-container{
    padding: 16px;
    width: 250px;
    margin: 0 auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.switch {position: relative; display: inline-block; width: 120px; height: 68px; margin-bottom: 20px;}
.switch input {display: none;}
.slider {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; border-radius: 68px;   opacity: 0.8;   cursor: pointer;}
.slider:before {position: absolute; content: ""; height: 52px; width: 52px; left: 8px; bottom: 8px; background-color: #fff; -webkit-transition: .4s; transition: .4s; border-radius: 68px}
input:checked+.slider {background-color: #1b78e2}
input:checked+.slider:before {-webkit-transform: translateX(52px); -ms-transform: translateX(52px); transform: translateX(52px)}
.slider2 {  margin: 14px;  height: 20px; background: #ccc; outline: none; opacity: 0.8; -webkit-transition: .2s; transition: opacity .2s; margin-bottom: 40px; }
.slider:hover, .slider2:hover { opacity: 1; }
.slider2::-webkit-slider-thumb { appearance: none; width: 40px; height: 40px; background: #008B74; cursor: pointer; }
.slider2::-moz-range-thumb { width: 40px; height: 40px; background: #008B74; cursor: pointer;}
.card-switch {color: #50a2ff; }
.card-light{ color: #008B74;}
.card-bme{ color: #572dfb;}
.card-motion{ color: #3b3b3b; cursor: pointer;}

/*ILUMINAÇÃO*/


  .led {
    display: inline-block;
    width: 200px;
    height: 15px;
    border-radius: 7px;
    background-color: gray; /* Cor padrão */
}
.led.on {
    background-color: green;
}
.led.off {
    background-color: red;
}

  .umidadebox {
    background-color: #1b78e2;
  }

  #umidadelogo {
    width: 100%;
    height: 100%;
  }